*, html {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

body{
    margin: 0 5em;
}

body.end{
    margin: 0px;
}

header{
    background-color: lightyellow;
    padding: 1em;
    padding-bottom: 2em;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main.start{
    padding: 2em 25em;
    background-color: lightblue;
}

main.Turtwig{
    background: url("https://cutewallpaper.org/21/pokemon-battle-background/Pokemon-Showdown-Wifi-Battle-Background-Pastebincom.png");
    padding-top: 14em;
    margin: 0 10em;
    display: flex;
    flex-wrap: wrap;
}

main.Chimchar{
    background: url("https://cutewallpaper.org/21/pokemon-battle-background/Pokemon-Showdown-Wifi-Battle-Background-Pastebincom.png");
    margin: 0 10em;
    display: flex;
    flex-wrap: wrap;
}

main.Piplup{
    background: url("https://cutewallpaper.org/21/pokemon-battle-background/Pokemon-Showdown-Wifi-Battle-Background-Pastebincom.png");
    margin: 0 10em;
    display: flex;
    flex-wrap: wrap;
}

.jouinfo{
    background-color: lightgray;
    color: black; 
    border-radius: 1ch ;
 font-family: 'Times New Roman', Times, serif;
 padding: 1em;
 margin-left: 35em;
 display: block;
 }
 
 .tegenstanderinfo{
     background-color: lightgray;
     color: black; 
     border-radius: 1ch ;
  font-family: 'Times New Roman', Times, serif;
  padding: 1em;
  margin-right: 35em;
display: block;
  }

h2{
    text-align: center;
    padding: 0 2em;
}

button{
    margin: 2em 4.3em;
    padding: 0.5em;
}

img#Turtwig{
    max-width: 30%;
  }

  img#Chimchar{
    max-width: 30%;
  }

  img#Piplup{
    max-width: 30%;
  }

  img.fight{
    margin-top: 12em;
    margin-left: 10em;
  }
  img.tegenstander{
    margin-bottom: 3em;
    margin-left: 50em;}

    img.fightturt{
        margin-left: 3em; 
    }

    img.tegenstandertwig{
        margin-bottom: 8em;
        margin-left: 50em;}

  footer{
      background-color: silver;
      font-size: 2em;
      text-align: center;
      padding: 1em;
font-family: 'Times New Roman', Times, serif;
  }

  footer > button{
      background-color: gray;
  }

  .Grass{
      background-color: lightgreen;
  }
  .Fire{
background-color:lightcoral;
 }
  .Water{
background-color: lightblue;
  }